
.Todo-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, ul {
    width: 500px;
}

input, button {
    font-size: 16px;
    margin: 5px 5px;
}

ul {
    margin: auto;
}

ul div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    width: 400px;
    text-align: left;
}

button {
    text-transform: uppercase;
    height:30px;
}
